/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
html {
	--primary-col: #ff3366;    /* main colour */
	--primary-alt: #ff6699;    /* variant */
	--primary-on: #ffffff;     /* for text or icons */
	--secondary-col: #3399ff;
	--secondary-alt: #99ccff;
  --secondary-on: #000000;
  --bg-col: #7680b9;
  --pad-and-gap: 1em;
	/* etc, etc... */
}

h1,h2,h3,h4,h5{
  font-family: 'Capriola', 'Arial', sans-serif;
}

a {
  color: hotpink;
}
body{
    font-family: 'Poppins', 'Arial', sans-serif;
    line-height: 1;
    background-color: rgb(29, 28, 28);
    color: var(--primary-on) ;
}

.filters{
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
}

.product{
  background-color: #101a44;
}

.results{
  background-color: rgb(59, 9, 82);
}

.page-footer{
  background-color: rgb(0, 0, 0);
  padding:var(--pad-and-gap) ;
  margin-top:var(--pad-and-gap);
}

.products, .page-header{
    padding: 0 var(--pad-and-gap);
}

.your-products{
  display: flex;
}

.pagination{
  text-align: center;
}

.pages{
  display: flex;
  justify-content: center;
}

.pages > li{
  margin: 0 calc(var(--pad-and-gap) / 2);
}


.social, .legal{
  display: flex;
  justify-content: flex-end;
  margin: 0 calc(var(--pad-and-gap) / 2);
}

.copyright{
  text-align: right;
}

.page-header{
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  background-color: #101a44;
  padding: var(--pad-and-gap);
}

.filter-list{
  display: flex;
}

.logo{
  grid-column-start: 1;
  grid-column-end: 2;
}

.your-products{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.nav-toggle{
  grid-column-start: 4;
  grid-column-end: 5;
}

.search{
  grid-column-start: 1;
  grid-column-end: 5;
}

.navigation{
  grid-column-start: 1;
  grid-column-end: span 4;
}

.filters > h2{
  padding-top: calc(var(--pad-and-gap) / 2);
  padding-left: var(--pad-and-gap);
}

.filters{
  padding-bottom: calc(var(--pad-and-gap) / 1.5);
}

.filterplus{
  float: right;
  padding-right: var(--pad-and-gap);
  cursor: pointer;
  display: none;
}
.filterminus{
  float: right;
  padding-right: var(--pad-and-gap);
  cursor: pointer;
}

.collapse{
  display: block;
}
.subheading{
  padding-left: calc(var(--pad-and-gap)/2);
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -1.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.image-container:hover img {
  opacity: 0.3;
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}




@media screen and (min-width: 40em) {
  .products{
      display: grid;
      grid-template-columns: 15em auto;
      /* NOTE : grid-gap has been replaced by gap  */
      gap: var(--pad-and-gap); 
  }

  .heading, .pagination{
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .results{
    padding: 0 var(--pad-and-gap);
    margin-top: var(--pad-and-gap);
  }
}


@media screen and (min-width: 77em) {
  .products{
    grid-template-columns: auto 1fr auto auto auto;
  }
  .nav-toggle{
    display:none;
  }
  .search{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }   
  .navigation{
    grid-column-start: 3;
    grid-column-end: 4;   
  }
  .your-products{
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .menu, .menu > li, .submenu{
    display: flex;
  }
  .sublist{
    padding-left: 0;
  }
  .products{
    display: block;
  }
  .filter-options{
    display: flex;
    justify-content: space-between;
  }
  .filter-list{
    display: flex;
  }
  .results{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--pad-and-gap); 
  }
  .subheading{
    grid-column-start:1 ;
    grid-column-end:span 2 ;
  }
}

@media screen and (min-width: 90em) {
  .filter-options{
    justify-content: flex-start;
  }
  .results{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .subheading{
    grid-column-end:span 3 ;
  }
}
